PORT=3000
 
URI_MONGODB=mongodb://localhost:27017/admin-ks-in6av
 
CLOUDINARY_CLOUD_NAME=dwjn1tpta
CLOUDINARY_API_KEY=338769234437599
CLOUDINARY_API_SECRET=_pZdbxSyI7Mxh7au118hltnBuWc
CLOUDINARY_BASE_fOLDER=https://res.cloudinary.com/dwjn1tpta/image/upload/fields
CLOUDINARY_DEFAULT_AVATAR_NAME=kinal_sports_33.png
 
 
JWT_SECRET=ThisIs$ecretKeyForK$portsIn6aV2026
JWT_EXPIRES_IN=1h
JWT_ISSUER=KinalSports
JWT_AUDIENCE=KinalSports
 
NODE_TLS_REJECT_UNAUTHORIZED=0